/*

BOPM sample configuration

*/

options {
	pidfile = "bopm.pid";
        negcache = 3600;
};


IRC {
        /* Ip to bind to */
        #vhost = "0.0.0.0";

	nick = "MyBopm";

        realname = "Blitzed Open Proxy Monitor";
        username = "bopm";

        server = "myserver.blitzed.org";
        port = 6667;

        oper = "bopm operpass";
        mode = "+cs";
       

        away = "I'm a bot, don't message me.";

        channel {
           name = "#bopm";
           #key = "somekey";
        };
};

user {
	mask = "*!*@*";
	scanner = "default";
};

user {
	mask = "*!*@*proxy*";
	mask = "*!*@*www*";
	scanner = "extended";
};

/*
exempt {
	mask = "*!*@localhost";
	mask = "*!*@127.0.0.1";
}; */
