/*

BOPM sample configuration

*/

options {
	pidfile = "bopm.pid";
        negcache = 3600;
};


IRC {
        /* Ip to bind to */
        #vhost = "0.0.0.0";

	nick = "MyBopm";

        realname = "Blitzed Open Proxy Monitor";
        username = "bopm";

        server = "myserver.blitzed.org";
        port = 6667;

        oper = "bopm operpass";
        mode = "+cs";
       

        away = "I'm a bot, don't message me.";

        channel {
           name = "#bopm";
           #key = "somekey";
        };
       
        /* Hybrid */
        connregex = "\\*\\*\\* Notice -- Client connecting: ([^ ]+) \\(([^@]+)@([^\\)]+)\\) \\[([0-9\\.]+)\\].*";

        /* Kline format */
        kline = "KLINE %u@%h :Open Proxy found on your host. Please visit www.blitzed.org/proxy?ip=%i for more information."
};


scanner {

        /* Unique name of this scanner */
        name="default";

        protocol = HTTP:80;
        protocol = HTTP:8080;
        protocol = HTTP:3128;

        protocol = SOCKS4:1080;
        protocol = SOCKS5:1080;

        protocol = ROUTER:23;
        protocol = WINGATE:23;

        protocol = HTTPPOST:80;

        /* IP this scanner will bind to */
        #vhost = "127.0.0.1";

        /* Maximum file descriptors this scanner can use */
        fd = 512;

        /* Target IP to tell the proxy to connect to */
        target_ip     = "127.0.0.1";

        /* Target port to tell the proxy to connect to */
        target_port   = 6667;

        /* String target IP:PORT will send back to verify */
        target_string = "Looking up your hostname...";
};

scanner {

        /* unique name of this scanner */
        name = "extended";

        protocol = HTTP:8001;
        protocol = HTTP:8002;
        protocol = HTTPPOST:8080;
        protocol = HTTPPOST:3128;

        /* IP this scanner will bind to */
        #vhost = "127.0.0.1";

        /* Maximum file descriptors this scanner can use */
        fd = 128;

        /* Target IP to tell the proxy to connect to */
        target_ip     = "127.0.0.1";

        /* Target port to tell the proxy to connect to */
        target_port   = 6667;

        /* String target IP:PORT will send back to verify */
        target_string = "Looking up your hostname...";
};

user {
	mask = "*!*@*";
	scanner = "default";
};

user {
	mask = "*!*@*proxy*";
	mask = "*!*@*www*";
	scanner = "extended";
};

/*
exempt {
	mask = "*!*@localhost";
	mask = "*!*@127.0.0.1";
}; */
