##################################################################################
#                       Blitzed Open Proxy Monitor                               #
#                                                                                #
#                           Configuration File                                   #
#                                                                                #
##################################################################################



# NICK <nickname> : Defines what nickname BOPM will be using.
#

NICK BopmDebug



# USER <username> : Defines what username BOPM will be using in place of
#                   ident.
# 
                  
USER bopm


# REALNAME <realname> : What realname (the bit in /whois after
#                       nick/ident/host) should bopm use?
#

REALNAME Blitzed Open Proxy Monitor


# NICKSERV_IDENT <line> : Line to send to nickserv to identify
#                         Leave commented to not use.

#NICKSERV_IDENT PRIVMSG NICKSERV :IDENTIFY password1234
NICKSERV_IDENT NICKSERV :IDENTIFY password1234



# CHANSERV_INVITE <line> : Line to send to chanserv to request invite to a
#                          channel. %s must exist in the line and is the
#                          channel.  Leave commented to not use.

#CHANSERV_INVITE PRIVMSG CHANSERV :INVITE %s
CHANSERV_INVITE CHANSERV :INVITE %s



# BINDIRC <ip> : IP to bind to for IRC connection
#

#BINDIRC 127.0.0.1




# BINDSCAN <ip> : IP to bind to for scan connections
#

#BINDSCAN 127.0.0.1




# SERVER <servername> : IRC host BOPM will be monitoring connections on.
#                       This is what bopm will connect to, so please make
#                       sure it works.
#

SERVER myserver.blitzed.org


# PASSWORD <password> : If you need a password to connect to your server,
#                       define it here.  Leave commented if not.

#PASSWORD verysecret




# PORT <port> : Port of IRC host BOPM will be monitoring connections on
#               This is the port that BOPM will connect to in order to get on
#               IRC itself, it is nothing to do with what ports it checks on
#               clients, nor do you need to list every port your ircd
#               accepts clients on.  You need only 1 PORT definition.
#

PORT 6667




# CHANNELS <list> : Comma seperated list of channels bot will join/privmsg
#                   information.
#                   There cannot be spaces between channels, only commas.

CHANNELS #bopm,#wg


# KEYS <list> : Comma separated list of keys for channels above.  Again
#               there should not be spaces between these keys, only
#               commas.  Also if a channel above does not need a key, you
#               need to put some text anyway, it will be ignored (this is
#               the same syntax that IRC clients use to join multiple
#               channels).
#               Keep this commented if you don't need any keys.

#KEYS secret



# OPER <user> <pass> : Username and Password of O line BOPM will be using
#

OPER bopm operpss


# OPER_MODES <modes> : Mode string to set on itself as soon as it opers up.
#                      This should include whatever mode enables connect
#                      notices (usually +c), and often a good idea to disable
#                      helper modes so that users don't try to talk to the
#                      bopm

OPER_MODES +c-h




# SCANIP <ip> : IP to command possible open proxy to connect to. This is
#               usually the same IP as the IRC host we're monitoring.  Don't
#               leave this 127.0.0.1

SCANIP 127.0.0.1




# SCANPORT <port> : Port to command possible open proxy to connect to.
#                   This is usually an IRC related port (such as 6667).  THIS
#                   HAS NOTHING TO DO WITH WHAT PORTS ARE SCANNED!  When BOPM
#                   connects to the client, this is the port ON YOUR SERVER
#                   that BOPM tries to make it connect to.  This should
#                   normally be a port that your ircd is listening on.  You
#                   therefore only need one SCANPORT directive.

SCANPORT 6667




# TIMEOUT <seconds> : Number of seconds before a particular scan on a client
#                     will timeout. The higher this is set, the more chance of
#                     slower proxies being caught. However a higher value also means
#                     more demand for file descriptors at any one time. 
#                     A default value of 30 is recommended.                  

TIMEOUT 30




# TARGET_STRING <string> : Target string we test for in the data read by the scanner,
#                          this should be a string within the data that your ircd usually
#                          sends on connect. The default should work on most bahamut 
#                          based ircds once you edit it for your server name.
#
#                          Suggestion is to place the FULL notice string with the server
#                          source name as your target string (this won't work for hybrid
#                          servers as they don't send the server source.
#
#                          This would prevent the odd clients running IRC servers on port
#                          8080/8000 from being confused with a proxy.

TARGET_STRING *** Looking up your hostname...



# KLINE_COMMAND <command> : Line used in issuing KLINES. Two %s are required
#                           within the line which will specify the klined
#                           host and the IP address which you may find
#                           useful in a URL.
#
#                           Do not add anymore ':' characters after the initial
#                           : character in the kline (even for a website) as
#                           the IRCD will reject it.  
#
#                           You should probably make sure this is a
#                           TEMPORARY KLINE, otherwise people who fix their
#                           proxies will not be able to get back onto your
#                           net.  The example below is correct for DALNet's
#                           Bahamut and by default places a 30 minute
#                           KLINE.
#
#     !!!! IMPORTANT !!!!   If you change the description on the line below
#                           WE WILL NOT SUPPORT YOU. It is very important that
#                           users banned are able to visit the DNSBL and remove 
#                           themselves; if not, they will be permanantly banned 
#                           from your network (as they will not have the
#                           knowledge to remove themselves from the DNSBL).
#
#                           If you don't like the rather Blitzed-like pages
#                           then you can use this command instead:
# 
# KLINE_COMMAND KLINE *@%s :Open Proxy found on your host. Please visit www.blitzed.org/opm/index2.phtml?ip=%s for more information
#
#                           Here's a GLINE example for ircU:
# KLINE_COMMAND GLINE +*@%s 1800 :Open proxy found on your host. Please visit www.blitzed.org/proxy?ip=%s for more information.

KLINE_COMMAND KLINE *@%s :Open Proxy found on your host. Please visit www.blitzed.org/proxy?ip=%s for more information.




# DNSBL_ZONE <name> : Name of the DNS zone that every user will be checked
#                     against.  For example, Blitzed uses opm.blitzed.org (and
#                     you can too, if you like).  If you don't understand what
#                     a DNSBL is, you can try looking at
#                     http://www.blitzed.org/opm.  This zone should NOT have a
#                     dot at the end.  If you leave this variable commented, no
#                     check will be done.

DNSBL_ZONE opm.blitzed.org




# DNSBL_TO <email> : Email address that reports of open proxies should be
#                    sent to.  If this is not set, proxies will not be reported
#                    by email.  You can report to multiple addresses by
#                    separating them with commas.

#DNSBL_TO postmaster@[127.0.0.1]




# DNSBL_FROM <email> : Email address that your bopm will use to communicate
#                      with DNSBL_TO, above.  The Blitzed DNSBL requires
#                      that this email address be received by a real person,
#                      i.e. you.  If this is not set, proxies will not be
#                      reported by email.

#DNSBL_FROM email@example.com




# SENDMAIL <path> : Absolute path to your sendmail binary.  If this is not
#                   set, proxies will not be reported by email.

#SENDMAIL /usr/sbin/sendmail




# HELP_EMAIL <email> : When someone messages bopm with "INFO" it will tell
#                      them to email a certain address for help.  If you are a
#                      Blitzed admin you should be setting this to
#                      "help@lists.blitzed.org"

HELP_EMAIL help@lists.blitzed.org




# AWAY <away message> : If this is set then bopm will use it as an away
#                       message as soon as it connects.

AWAY I'm a bot.  Your messages will be ignored.

# FDLIMIT <limit> : Limit number of open file descriptors for SCAN ONLY (this does
#                   not include file descriptors used for the IRC socket or log files.
#                   Once limit has been reached, any further scans are queued until
#                   there are file descriptors free
#                   
#                   Keep this limit equal or less than MAXPOLL as defined in options.h

FDLIMIT 512


# EXCLUDE <hostmask> : Exclude hosts matching this pattern from DNSBL
#                      checks and proxy scans.  The hostmask uses familiar
#                      IRC wildcards * and ? and matches against both IP
#                      and hostname.  Use EXCLUDE multiple times to build a
#                      list.  You should not be using EXCLUDE unless you
#                      have very good reason; if BOPM is finding false
#                      positives then we regard that a serious problem and
#                      would like to be told.

#EXCLUDE 192.168.0.*
#EXCLUDE some-isp-??.example.com

# PIDFILE <filepath> : Full path specifying where bopm should record its
#                      process ID.

PIDFILE /path/to/bopm.pid
